listing-1/server/node_modules/
listing-1/client/node_modules/
listing-2/server/node_modules/
listing-2/client/node_modules/
listing-4/client/node_modules/
listing-4/server/node_modules/
listing-5/client/node_modules/
listing-5/server/node_modules/
listing-6/client/node_modules/
listing-6/server/node_modules/
listing-6/server/output/
listing-3/client/node_modules/
*.bak
listing-7/server/node_modules/
listing-7/client/node_modules/
listing-7/server/public/bower_components/
listing-8/client/node_modules/
listing-8/server/node_modules/
listing-8/server/public/bower_components/
old-listing-7/
complete/client/node_modules/
complete/server/node_modules/
complete/server/public/bower_components/
complete/server/output/
